<%= render partial: 'spree/admin/users/sidebar', locals: { current: :wishlists } %>

<% content_for :page_title do %>
  <%= link_to @user.email, spree.edit_admin_user_url(@user) %> /
  <%= Spree.t(:wishlists, scope: [:admin, :user]) %>
<% end %>

<fieldset data-hook="admin_user_wishlists">
  <% if @wishlists.any? %>
    <%# TODO add search interface %>
    <table class="table table-condensed table-bordered" id="listing_wishlists" data-hook>
      <thead>
        <tr data-hook="admin_user_wishlists_headers">
          <th><%= Spree.t(:name) %></th>          
          <th><%= Spree.t(:is_private) %></th>
          <th><%= Spree.t(:default) %></th>
        	<th><%= Spree.t(:updated_at, scope: :admin) %></th>
          <th data-hook="admin_user_wishlists_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
      <% @wishlists.each do |wl| %>
        <tr id="<%= spree_dom_id wl %>" data-hook="admin_user_wishlist_row" class="<%= cycle('odd', 'even') %>">
          <td class="wishlist"><%= link_to wl.name, spree.admin_user_wishlist_path(@user, wl) %></td>
          <td class="status"><%= Spree.t(wl.is_private, scope: :admin) %> </td>
          <td class="image"><%= Spree.t(wl.is_default, scope: :admin) %></td>
          <td class="image"><%= wl.updated_at %></td>
          <td class="actions actions-2 text-right" data-hook="admin_user_wishlist_row_actions">
            <%= link_to_with_icon 'eye-open', '', spree.admin_user_wishlist_path(@user, wl), class: "btn btn-default btn-sm" %>
            <%= link_to_delete wl, url: spree.admin_user_wishlist_path(@user,wl), no_text: true if can?(:delete, wl) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info no-objects-found">
      <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Wishlist)) %>
    </div>
  <% end %>

  <%= paginate @wishlists, theme: 'twitter-bootstrap-3' %>
</fieldset>

<%= render 'spree/admin/users/lifetime_stats' %>